.to-b{
    border: 2px solid  indianred;
}

body{
    background-color: white;
    font-size:16px;
}
.bk-pic{
    background: url('../images/portada-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}

.in-links{
    color:white;
}
.in-links:hover{
    color: white;
    border-bottom:1px solid ghostwhite;
    text-decoration: none;
}
.principal-text{
    color:white;
    /*border: 1px solid #000;*/
    text-transform: uppercase;
    font-size: 3em;
    margin-top:1.5em;
}
.btn-lead{
    width:200px;
    color:white !important;
    font-weight: 700;
    padding: 14px 0;
    
}
.btn-lead:hover{
    color:black !important;
    transition: 1s;
}

.bk-contenido{
    background-color: white;
}

.bk-footer{
    background-color: #656565;
    color: white;
}
.bk-footer p {
    padding:20px 0;
    margin: 0;
}


/*  -------------- styles from programas ----------------- */ 
.bg-main{
    background-color: darkred;
}
.bg-phrase{
    background-color:#7C7C7C;
}
.table-fix td{
    padding: .30rem;
}
.a-link-programas{
   
    


}
.a-link-programas:hover{
    text-decoration: none;
      background-color: gainsboro;

}

.card-text{
    color: #1F6FC6;
}
.card-body{
    
    transition: .5s;
    padding: 0;
    padding-top:10px;
    display: block;

  /*  border: 1px solid lightgray;*/

}
.card-body:hover{
    background-color: gainsboro;
}



/* --------------- Fin Styles Programas -------------------  */ 

/* ---------------   Styles Por Carrera ---------------------- */

.h4-titulo-programa{
    color: darkgray;
    font-size: 14px;
}
.text-programa{
    line-height: 1.3em;
}

.text-title-fix{
    font-family: 'Coiny', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 2.4em;
    
}
.info-facultad{
    margin: 0 0  0.1em 0;
}

.fix-icon{
    margin-right: 10px;
    background-color: ;
}

/*---------------- Mis BreakPoint ----------------*/

/* SM */
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { }

/*  MD */
/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { }

/* lg */
/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { }

/* xl */
/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
    body{
     
    }
 }